# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Local database / storage data (strictly not tracked in git)
data/
*.sqlite
*.db
*.csv
*.xlsx
local_storage.json

# OS & Logs
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
